:root { 
  --everglade: #1c4623;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 6px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 28px;
  --font-size-xxxxxl: 36px;
 
  --font-family-centurygothic_pro-italic: "CenturyGothic Pro-Italic", Helvetica;
  --font-family-centurygothic_pro-regular: "CenturyGothic Pro-Regular", Helvetica;
  --font-family-futura: "Futura", Helvetica;
  --font-family-futura-bold: "Futura-Bold", Helvetica;
  --font-family-futura-medium: "Futura-Medium", Helvetica;
}
.centurygothicpro-regular-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-centurygothic_pro-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.centurygothicpro-italic-normal-everglade-24px {
  color: var(--everglade);
  font-family: var(--font-family-centurygothic_pro-italic);
  font-size: var(--font-size-xxxl);
  font-style: italic;
  font-weight: 400;
}
